.contact{
	display:flex;
	padding:1%;
	border-bottom: 1px dotted #000;
}
.user-image{
	padding:2%;
	width:20%;
}
.user-image .img{
	height:80px;
	width:80px;
	border:1px solid #000;
	border-radius:50px;
}
.user-info p{
	color:rgb(136,136,136);
}